.sidebar-alloted{
    position: absolute;
    width: 280px;
    height: 749px;
    left: 0px;
    top: 0px;
    border: 0.711458px solid #D6DADE;
    
}

.topbar-alloted{
    position: absolute;
    width: 1399.56px;
    height: 81.11px;
    left: 213.44px;
    margin-left:68px;
    top: 0px;
    filter: drop-shadow(0px 0px 4.26875px rgba(0, 0, 0, 0.16));
    border: 0.711458px solid #D6DADE;
}

.searchhere-alloted{  
position: absolute;
width: 274.62px;
height: 28.46px;
left: 918.21px;
top: 26.32px;
}

.searchtopic-alloted{
    position: absolute;
    width: 450.67px;
    height: 39.84px;
    right:430px;
    top: 90.26px;
    border: 0.711458px solid #D6DADE;

}

#searchlogo-alloted{
    position: absolute;
    right:450px;
    top: 105px;
}

.courselist-alloted {
    box-sizing: border-box;
    position: absolute;
    width: 457.67px;
    left: 307.78px;
    top: 182.13px;
    overflow-y: scroll;
    background: #FFFFFF;
    border: 0.711458px solid #D6DADE;
    border-radius: 5.69167px;
    display: flex;
    flex-direction: column; /* Change the flex direction to column */
}


.assessmentdeet-alloted{
box-sizing: border-box;
position: absolute;
width: 822.13px;
height: 515.16px;
left: 820px;
top: 115.19px;
background: #FFFFFF;
opacity: 0.8;
border: 0.711458px solid #D6DADE;
border-radius: 5.69167px;   
}

.nextbtn-alloted{
position: absolute;
width: 101.03px;
height: 31.3px;
left: 1540.73px;
top: 666.64px;
background: #7BCCED;
border-radius: 2.84583px;
}

#departmentAlloted{
    color: #D6DADE;
    box-sizing: border-box;
    position: absolute;
    width: 573.86px;
    height:48.84px;
    left: 20.08px;
    top:40.25px;
    border: 0.711458px solid #D6DADE;
    border-radius: 4.26875px;
}

#dropdowndept-alloted{
    position: absolute;
    top:184px;
    right:155px;
}

#description-alloted{ 
color: #D6DADE;
box-sizing: border-box;
position: absolute;
width: 574px;
height: 166px;
left: 17.08px;
top: 102px;
background: #FFFFFF;
border: 1px solid #D6DADE;
border-radius: 6px;
   
}

.selectlevel-alloted{
    position: absolute;
    height: 19px;
    left:20.46px;
    right: 130px;
    top: 276px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14.2292px;
    line-height: 19px; 
    color: #242D35;
    
}

.assessmenttxt-alloted{
    position: absolute;
    width: 159px;
    height: 23px;
    left: 22.46px;
    top: 6.95px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 17.075px;
    line-height: 23px;
    letter-spacing: -0.01em;
    color: #242D35;
}


.lvl-alloted{
position: absolute;
width: 446.51px;
height: 16.71px;
left: 648.46px;
top: 417.25px;
}

.numofquestion-alloted{
box-sizing: border-box;
position: absolute;
width:273.2px;
height:39.84px;
right:800px;
top:10px;
background: #FFFFFF;
border: 1px solid #D6DADE;
border-radius: 6px;
}

.duration-alloted{
position: absolute;
width: 273.2px;
height:39.84px;
right:800px;
bottom:50px;
background: #FFFFFF;
border: 1px solid #D6DADE;
border-radius: 6px;
}

#date-alloted{
position: absolute;
width: 273.2px;
height: 39.81px;
right:470px;
bottom:50px;
background: #FFFFFF;
border: 1px solid #D6DADE;
border-radius: 6px;
}


#radio1-alloted{
    position: absolute;
    right:779px;
    top: 307px;
}

.logo1-alloted{
    position: absolute;
    right: 763px;
    bottom: 190px;
}
.basic-alloted{
position: absolute;
right:720px;
top: 308px;
width: 36px;
height: 16.9px;
font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14.3833px;
line-height: 16px;
color: #717D8A;
}

#radio2-alloted{
    position: absolute;
    right: 680px;
    top: 307px;
}

.logo2-alloted{
    position: absolute;
    right:664px;
    top:309px;
}

.intermediate-alloted{
position: absolute;
right:620px;
top: 307px;
width: 36px;
height: 16.9px;
font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 15.3833px;
line-height: 16px;
color: #717D8A;
}

#radio3-alloted{
    position: absolute;
    right:535px;
    top: 307px;
}

.logo3-alloted{
    position: absolute;
    right:517px;
    top: 307px;

}

.advanced-alloted{
position: absolute;
right:475px;
top: 307px;
width: 36px;
height: 16.9px;
font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 15.3833px;
line-height: 16px;
color: #717D8A;
}

#radio4-alloted{
    position: absolute;
    right:410px;
    top: 305px;
}

.logo4-alloted{
    position: absolute;
    right:390px;
    top: 307px;
}

.upskill-alloted{
position: absolute;
right:348px;
top: 307px;
width: 36px;
height: 16.9px;
font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 15.3833px;
line-height: 16px;
color: #717D8A;
}