.body{
    background: #1E1E1E;
}

.SidebarNew {
    position: absolute;
    width: 280px;
    height: 1080px;
    left: 0px;
    top: 0px;
    background: linear-gradient(179.54deg, #9cd8ef 5.55%, #96d9f4 194.36%);
  }
.kaninilogoNew { 
    width:93px;
    height:47px;
    position:absolute;
    left:123px;
    top:50px;
}
.kaninilogo1New { 
    color:rgba(12.000000234693289, 17.00000088661909, 22.000000588595867, 1);
    width:93px;
    height:33px;
    position:absolute;
    left:3px;
    top:0px;
    font-family:Roboto;
    text-align:left;
    font-size:28px;
    letter-spacing:10;
}
.kaninilogo2New { 
    color:rgba(55.17031118273735, 63.178905844688416, 71.18750050663948, 1);
    width:93px;
    height:19px;
    position:absolute;
    left:3px;
    top:28px;
    font-family:Manrope;
    text-align:left;
    font-size:14px;
    letter-spacing:9;
}
.kaninilogo3New { 
    width:47px;
    height:47px;
    position:absolute;
    left:55px;
    top:50px;
    background-repeat:no-repeat;
    background-size:cover;
}
.dashboardNew { 
    position:absolute;
    left:100px;
    top:155px;
    font-family:Manrope;
    text-align:left;
    font-size:16px;
    letter-spacing:0;
    cursor: pointer;
}
.dashboard1New { 
    position:absolute;
    left:55px;
    top:154px;
    right:237px;
    bottom:905px;
}
.TakeassNew { 
    position:absolute;
    left:100px;
    top: 220px;
    font-family:Manrope;
    text-align:left;
    font-size:16px;
    letter-spacing:0;
    cursor: pointer;
}
.Takeass1New { 
    position:absolute;
    left:55px;
    top:220px;
    right:237px;
    bottom:824.39px;
}
.AllocateassNew { 
    position:absolute;
    left:100px;
    top: 290px;
    font-family:Manrope;
    text-align:left;
    font-size:16px;
    letter-spacing:0;
    cursor: pointer;
}
.Allocateass1New { 
    position:absolute;
    left:55px;
    top:290px;
    right:240px;
    bottom:741px;
}
.ResultNew { 
    position:absolute;
    left:100px;
    top: 424px;
    font-family:Manrope;
    text-align:left;
    font-size:16px;
    letter-spacing:0;
    cursor: pointer;
}
.Result1New { 
    position:absolute;
    left:55px;
    top:424px;
    right:240px;
    bottom: 656px;
}
.teammemNew{
    position:absolute;
    left:100px;
    top: 360px;
    font-family:Manrope;
    text-align:left;
    font-size:16px;
    letter-spacing:0;
    cursor: pointer;

}
.Team1New{
    position:absolute;
    left:55px;
    top:360px;
    right: 235px;
    bottom: 574.95px;

}
.SettingsNew{
    position:absolute;
    left:100px;
    top: 480px;
    font-family:Manrope;
    text-align:left;
    font-size:16px;
    letter-spacing:0;
    cursor: pointer;

}
.Settings1New{
    position:absolute;
    left:55px;
    top:480px;
    right: 237px;
    bottom: 491.38px;

}
.LogoutNew{
    position:absolute;
    left:100px;
    top: 991px;
    font-family:Manrope;
    text-align:left;
    font-size:16px;
    letter-spacing:0;
    cursor: pointer;

}
.Logout1New{
    position:absolute;
    left:55px;
    top:991px;
    right: 242.55px;
    bottom: 69px;

}

.rectangleNew {
   /* Kanini Logo_H1 1 */

position: absolute;
width: 980px;
height: 420px;
left:-730px;
top: 720px;

background: url(assets/TeamMembersCard/bg.svg);
opacity: 1.06;

  }

.bellNew {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    /* Add any additional styles for the notification container */
  }
  
  /* Replace the class name with the appropriate class for your notification icon image */
  .bellNew img {
    width: 100%;
    height: 100%;
    /* Add any additional styles for the notification icon image */
  }
.navbarNew{
    position: absolute;
left: 55.62%;
right: 0%;
top: 0%;
bottom: 89.44%;

background: linear-gradient(138.51deg, #F8FDFF 59.84%, #F6FAEF 116.14%);
}

.headingNew{
    position: absolute;
width: 173px;
height: 33px;
left: 340px;
top: 31px;

/* H1 heading/Semibold/24px */

font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 33px;
/* identical to box height */


/* TEXT_COLOR/TEXT-800 */

color: #242D35;

}
.subheadingNew{
    position: absolute;
width: 336px;
height: 18px;
left: 345px;
top: 71px;

/* Caption/Regular/13px */

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 18px;
/* identical to box height */


/* TEXT_COLOR/TEXT-400 */

color: #A8B0B9;
}
/* ... (existing styles) ... */

.sboxNew {
    margin-top: 130px;
    position: relative;
    padding-left: 345px;
    padding-right: 1100px;

  }
  
  #searchicon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 350px;
    transform: translateY(-50%);
  }
  
  .seNew {
    border: 1px;
    background: none;
    color: #0d0c0c;
    font-size: 16px;
    padding-left: 50px !important;
    outline: none;
    width: 200px;
  }
  
  
  /* ... (existing styles) ... */
  
  
.profile1New{
    box-sizing: border-box;

position: absolute;
width: 330px;
height: 354px;
left: 340px;
top: 232px;

background: #FFFFFF;
border: 1px solid #EAE9EA;
border-radius: 8px;
}

.klogonew {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 1623px;
    top: 25px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .klogonew img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
.navname{
    /* Subramaniyam */

position: absolute;
width: 126px;
height: 25px;
left: 1675px;
top: 35px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;
/* identical to box height */

/* TEXT_COLOR/TEXT-800 */
color: #242D35;


}
.profile2New{
    box-sizing: border-box;

position: absolute;
width: 330px;
height: 354px;
left: 702px;
top: 232px;

background: #FFFFFF;
border: 1px solid #EAE9EA;
border-radius: 8px;
}
.profile3New{
    box-sizing: border-box;

position: absolute;
width: 330px;
height: 354px;
left: 1064px;
top: 232px;

background: #FFFFFF;
border: 1px solid #EAE9EA;
border-radius: 8px;
}
.ReportManger{
    box-sizing: border-box;

position: absolute;
width: 430px;
height: 185px;
left: 1442px;
top: 232px;

background: #FFFFFF;
border: 1px solid #EAE9EA;
}
.RMNew{
    position: absolute;
width: 173px;
height: 25px;
left: 1472px;
top: 262px;

/* Subheading/Medium/18Px */

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;
/* identical to box height */


color: #1F2131;
}
.RMnameNew{
    position: absolute;
    width: 121px;
    height: 22px;
    left: 1559px;
    top: 341px;
    
    /* Menu/Medium/16px */
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    
    
    color: #787878;
    
}
.categoryNew{
    box-sizing: border-box;

position: absolute;
width: 430px;
height: 810px;
left: 1442px;
top: 449px;

background: #FFFFFF;
border: 1px solid #EAE9EA;
}
.cNameNew{
    position: absolute;
width: 137px;
height: 25px;
left: 1472px;
top: 479px;

/* Subheading/Medium/18Px */

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;
/* identical to box height */


color: #1F2131;

}
.ViewAllNew{
    position: absolute;
width: 350px;
height: 19px;
left: 1483px;
top: 489px;

/* Medium/14px */

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 15px;
text-align: right;

/* INFO_COLOR/INFO-300 */

color: #1465B4;
}
.profile4New{
    box-sizing: border-box;

position: absolute;
width: 330px;
height: 354px;
left: 340px;
top: 618px;

background: #FFFFFF;
border: 1px solid #EAE9EA;
border-radius: 8px;
}
.profile5New{
    box-sizing: border-box;

position: absolute;
width: 330px;
height: 354px;
left: 702px;
top: 618px;

background: #FFFFFF;
border: 1px solid #EAE9EA;
border-radius: 8px;
}
.profile6New{
    box-sizing: border-box;

position: absolute;
width: 330px;
height: 354px;
left: 1064px;
top: 618px;

background: #FFFFFF;
border: 1px solid #EAE9EA;
border-radius: 8px;
}

.logo1{
    position: absolute;
width: 100px;
height: 100px;
left: 460px;
top: 258px;
}
.rounded-circle {
    border-radius: 90%;
}
.logo2n{
    position: absolute;
width: 100px;
height: 100px;
left: 822px;
top: 268px;
}
.logo3{
    position: absolute;
width: 100px;
height: 100px;
left: 1184px;
top: 268px;
}
.logo4{
    position: absolute;
width: 100px;
height: 99.44px;
left: 460px;
top: 643.85px;
}
.logo5{
    position: absolute;
width: 100px;
height: 100px;
left: 822px;
top: 644px;
}
.logo6{
    position: absolute;
width: 100px;
height: 100px;
left: 1184px;
top: 644px;
}
.name1{
    position: absolute;
width: 163px;
height: 56.56px;
left: 425px;
top: 342px;
white-space: nowrap;

/* Subheading/Semibold/18px */

font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
text-align: center;

/* TEXT_COLOR/TEXT-800 */

color: #242D35;
}
.name2{
    position: absolute;
width: 152px;
height: 25px;
left: 791px;
top: 346px;
white-space: nowrap;

/* Subheading/Semibold/18px */

font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
/* identical to box height */

text-align: center;

/* TEXT_COLOR/TEXT-800 */

color: #242D35;

}
.name3{
    position: absolute;
width: 197px;
height: 25px;
left: 1131px;
top: 346px;

/* Subheading/Semibold/18px */

font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
white-space: nowrap;
/* identical to box height */

text-align: center;

/* TEXT_COLOR/TEXT-800 */

color: #242D35;
}
.name4{
    position: absolute;
width: 199px;
height: 24.86px;
left: 406px;
top: 748.10px;

/* Subheading/Semibold/18px */

font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
white-space: nowrap;
/* identical to box height */

text-align: center;

/* TEXT_COLOR/TEXT-800 */

color: #242D35;

}
.name5{
    position: absolute;
width: 185px;
height: 25px;
left: 775px;
top: 749px;

/* Subheading/Semibold/18px */

font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
/* identical to box height */

text-align: center;
white-space: nowrap;

/* TEXT_COLOR/TEXT-800 */

color: #242D35;
}
.name6{
    position: absolute;
width: 165px;
height: 25px;
left: 1147px;
top: 749px;
white-space: nowrap;

/* Subheading/Semibold/18px */

font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
/* identical to box height */

text-align: center;

/* TEXT_COLOR/TEXT-800 */

color: #242D35;

}
.role1{
    
position: absolute;
width: 278px;
height: 19.12px;
left: 366px;
top: 380.94px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 18px;
text-align: center;

/* TEXT_COLOR/TEXT-600 */

color: #4F5B67;
}
.role2{
    position: absolute;
width: 280px;
height: 18px;
left: 727px;
top: 380.94px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 18px;
/* identical to box height */

text-align: center;

/* TEXT_COLOR/TEXT-600 */

color: #4F5B67;
}
.role3{
    position: absolute;
width: 278px;
height: 19.12px;
left: 1090px;
top: 380.94px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 18px;
text-align: center;

/* TEXT_COLOR/TEXT-600 */

color: #4F5B67;

}

.role4{
    position: absolute;
width: 280px;
height: 17.9px;
left: 365px;
top: 785.95px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 18px;
/* identical to box height */

text-align: center;

/* TEXT_COLOR/TEXT-600 */

color: #4F5B67;

}
.role5{
    position: absolute;
width: 280px;
height: 18px;
left: 727px;
top: 785.95px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 18px;
/* identical to box height */

text-align: center;

/* TEXT_COLOR/TEXT-600 */

color: #4F5B67;

}
.role6{
    position: absolute;
width: 278px;
height: 19.12px;
left: 1090px;
top: 785.95px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 18px;
text-align: center;

/* TEXT_COLOR/TEXT-600 */

color: #4F5B67;
}

.lvl1{
    position: absolute;
width: 130px;
height: 20.19px;
left: 445px;
top: 420.06px;

/* Medium/14px */

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;
text-align: center;

color: #666565;

}

.lvl2{
    position: absolute;
width: 156px;
height: 19px;
left: 788px;
top: 420.06px;

/* Medium/14px */

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;
text-align: center;

color: #666565;


}
.lvl3{
    position: absolute;
width: 130px;
height: 20.19px;
left: 1169px;
top: 420.06px;

/* Medium/14px */

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;
text-align: center;

color: #666565;
}
.lvl4{
    position: absolute;
width: 130px;
height: 20.07px;
left: 445px;
top: 823.82px;

/* Medium/14px */

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;
text-align: center;

color: #666565;
}

.lvl5{
    position: absolute;
width: 130px;
height: 20.19px;
left: 807px;
top: 823.82px;

/* Medium/14px */

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;
text-align: center;

color: #666565;

}

.lvl6{
    position: absolute;
width: 156px;
height: 19px;
left: 1150px;
top: 823.82px;

/* Medium/14px */

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;
text-align: center;

color: #666565;

}
.pgb1new{
    position: absolute;
    width: 70px;
    height: 4.25px;
    left: 380px;
    top: 470.1px;
    
    /* PRIMARY_01/PRI-1-400 */
    
    background: #AAD064;
    border-radius: 4px;
}
.pgb2new{
    position: absolute;
    width: 120px;
    height: 4.25px;
    left: 742px;
    top: 470.1px;
    
    /* PRIMARY_01/PRI-1-400 */
    
    background: #AAD064;
    border-radius: 4px;
}
.pgb3new{
    position: absolute;
width: 70px;
height: 4.25px;
left: 1104px;
top: 470.1px;

/* PRIMARY_01/PRI-1-400 */

background: #AAD064;
border-radius: 4px;
}
.pgb4new{
    position: absolute;
width: 70px;
height: 4.23px;
left: 380px;
top: 870.46px;

/* PRIMARY_01/PRI-1-400 */

background: #AAD064;
border-radius: 4px;
}
.pgb5new{
    position: absolute;
width: 70px;
height: 4.25px;
left: 742px;
top: 870.46px;

/* PRIMARY_01/PRI-1-400 */

background: #AAD064;
border-radius: 4px;
}

.pgb6new{
    position: absolute;
width: 120px;
height: 4.25px;
left: 1104px;
top: 870.46px;

/* PRIMARY_01/PRI-1-400 */

background: #AAD064;
border-radius: 4px;
}
.lo1new {
    position: absolute;
    width: 55px;
    height: 16px;
    left: 489px;
    top: 495.5px;
    bottom: auto;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
}

#location1new {
    position: absolute;
    right: 110%;
    margin-left: auto;
    top: 15%;
    bottom: 50.16%;
    /* TEXT_COLOR/TEXT-500 */
    /* Adjust the spacing between the image and text */
}
.lo2new{
    position: absolute;
    width: 78px;
    height: 16px;
    left: 820px;
    top: 500px;
    
    /* Medium/14px */
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
}
#location2new{
  
    position: absolute;
    right: 105%;
    margin-left: auto;
    top: 15%;
    bottom: 50.16%;

}

.lo3new{
    position: absolute;
    width: 55px;
    height: 16px;
    left: 1213px;
    top: 500px;
    
    /* Medium/14px */
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
}
#location3new{
    position: absolute;
    right: 115%;
    margin-left: auto;
    top: 15%;
    bottom: 50.16%;
}
.lo4new{
    position: absolute;
width: 67px;
height: 16px;
left: 483px;
top: 894.56px;

/* Medium/14px */

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;
}
#location4new{
    position: absolute;
    right: 110%;
    margin-left: auto;
    top: 15%;
    bottom: 50.16%;
}
.lo5new{
    position: absolute;
width: 67px;
height: 19px;
left: 845px;
top: 896.12px;

/* Medium/14px */

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;
}
#location5new{
    position: absolute;
    right: 110%;
    margin-left: auto;
    top: 10%;
    bottom: 50.16%; 
}
.lo6new{
    position: absolute;
width: 34px;
height: 19px;
left: 1200px;
top: 896.12px;

/* Medium/14px */

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;

}
#location6new{
    position: absolute;
    right: 125%;
    margin-left: auto;
    top: 10%;
    bottom: 50.16%; 
}

.name7{
    position: absolute;
width: 156px;
height: 22px;
left: 1508px;
top: 535px;

/* Menu/Medium/16px */

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
/* identical to box height */


color: #787878;
}
.name8{
    position: absolute;
width: 158px;
height: 22px;
left: 1510px;
top: 640px;

/* Menu/Medium/16px */

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
/* identical to box height */


color: #787878;
}
.name9{
    position: absolute;
width: 148px;
height: 22px;
left: 1513px;
top: 745px;

/* Menu/Medium/16px */

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
/* identical to box height */


color: #787878;
}
.name10{
    position: absolute;
width: 165px;
height: 22px;
left: 1523px;
top: 850px;

/* Menu/Medium/16px */

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
/* identical to box height */


color: #787878;
}

.name11{
    position: absolute;
width: 130px;
height: 22px;
left: 1558px;
top: 955px;

/* Menu/Medium/16px */

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
/* identical to box height */


color: #787878;
}
.role7{
    
position: absolute;
width: 234px;
height: 18px;
left: 1510px;
top: 562px;

/* Caption/Regular/13px */

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 18px;
/* identical to box height */


/* TEXT_COLOR/TEXT-600 */

color: #4F5B67;
}
.role8{
    
position: absolute;
width: 234px;
height: 18px;
left: 1510px;
top: 667px;

/* Caption/Regular/13px */

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 18px;
/* identical to box height */


/* TEXT_COLOR/TEXT-600 */

color: #4F5B67;
}
.role9{
    
position: absolute;
width: 234px;
height: 18px;
left: 1515px;
top: 775px;

/* Caption/Regular/13px */

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 18px;
/* identical to box height */


/* TEXT_COLOR/TEXT-600 */

color: #4F5B67;
}
.role10{
    
position: absolute;
width: 234px;
height: 18px;
left: 1510px;
top: 880px;

/* Caption/Regular/13px */

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 18px;
/* identical to box height */


/* TEXT_COLOR/TEXT-600 */

color: #4F5B67;
}
.role11{
    
position: absolute;
width: 234px;
height: 18px;
left: 1508px;
top: 980px;

/* Caption/Regular/13px */

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 18px;
/* identical to box height */


/* TEXT_COLOR/TEXT-600 */

color: #4F5B67;

}
.bpp1{
    position: absolute;
width: 82px;
height: 19px;
left: 1515px;
top: 585px;

/* Medium/14px */

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;

color: #000000;
}
.bpp2{
    position: absolute;
width: 82px;
height: 19px;
left: 1515px;
top: 690px;

/* Medium/14px */

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;

color: #000000;

}

.bpp3{
    position: absolute;
width: 82px;
height: 19px;
left: 1515px;
top: 798px;

/* Medium/14px */

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;

color: #000000;
}
.bpp4{
    position: absolute;
width: 82px;
height: 19px;
left: 1518px;
top: 905px;

/* Medium/14px */

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;

color: #000000;
}
.bpp5{
    position: absolute;
    width: 82px;
    height: 19px;
    left: 1518px;
    top: 1000px;
    
    /* Medium/14px */
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    
    color: #000000;
}
.bpic1{
    position: absolute;
width: 70px;
height: 70px;
left: 1473px;
top: 534px;
}
.bpic2{
    position: absolute;
width: 70px;
height: 70px;
left: 1473px;
top: 630px;
}
.bpic3{
    position: absolute;
width: 70px;
height: 70px;
left: 1473px;
top: 740px;
}

.bpic4{
    position: absolute;
width: 70px;
height: 70px;
left: 1473px;
top: 850px;
}
.bpic5{
    position: absolute;
width: 70px;
height: 70px;
left: 1473px;
top: 940px;
}
.bpr1{
    position: absolute;
width: 70px;
height: 70px;
left: 1473px;
top: 317px;
}
.mail1{
    /* mail */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;
position: absolute;
width: 220.33px;
height: 10px;
left: 355px;
top: 541px;

}
.mail2 {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    width: 100%; /* Adjust the width as needed */
    height: 19px; /* Adjust the height as needed */
    left: 730px;
    top: 541px;
  }
  

.mail3{
    /* mail */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;
position: absolute;
width: 220.33px;
height: 19px;
left: 1100px;
top: 541px;

}

.mail4{
/* mail */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;
position: absolute;
width: 220.33px;
height: 19px;
left: 365px;
top: 925.26px;

}

.mail5{
/* mail */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;
position: absolute;
width: 220.33px;
height: 19px;
left: 757px;
top: 927px;


}

.mail6{
/* mail */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

position: absolute;
width: 220.33px;
height: 19px;
left: 1119px;
top: 927px;

}

.mailbox{
    /* mail */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

position: absolute;
width: 220.33px;
height: 19px;
left: 757px;
top: 541px;



/* Vector */

width: 14.67px;
height: 12px;






/* Atharva.Arjun@kanini.com */

width: 174px;
height: 19px;

/* Medium/14px */
font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;
text-align: center;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

width: 11.67px;
height: 14px;

/* TEXT_COLOR/TEXT-400 */
background: #A8B0B9;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

}



/* Mail Icon */
.mail-icon {
    /* Customize the icon styles as needed */
    font-size: 16px;
    color: #858484; /* Icon color */
  }
  
  /* Copy Icon */
  .copy-icon {
    /* Customize the icon styles as needed */
    font-size: 16px;
    color: #858484; /* Icon color */
  }
  
/* Apply styles to the tboxnew container */
.tboxnew {
  position: absolute;
  width: 386px;
  height: 40px;
  left: 1213px;
  top: 38px;
}

/* Apply styles to the input field */
.senew {
  box-sizing: border-box;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #FFFFFF;
  /* TEXT_COLOR/TEXT-300 */
  border: 0.8px solid #D6DADE;
  border-radius: 4.8px;
  padding-left: 50px !important;
  outline: none;
  width: 200px; /* Update this to the desired width */
}
.searchiconnew{
 width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 350px;
    transform: translateY(-50%);
}

.hr{
    /* sep */

position: absolute;
width: 430px;
height: 0px;
left: 1443px;
top: 620px;

border: 1px solid #DCDCDC;

}
.hr1{
/* sep */

position: absolute;
width: 430px;
height: 0px;
left: 1443px;
top: 729px;

border: 1px solid #DCDCDC;

}
.hr2{
    /* sep */

position: absolute;
width: 430px;
height: 0px;
left: 1443px;
top: 884px;

border: 1px solid #DCDCDC;

}